node_modules/
*.env

# Client Mobile
# OSX
#
clientMobile/.DS_Store

# Xcode
#
clientMobile/build/
clientMobile/*.pbxuser
clientMobile/!default.pbxuser
clientMobile/*.mode1v3
clientMobile/!default.mode1v3
clientMobile/*.mode2v3
clientMobile/!default.mode2v3
clientMobile/*.perspectivev3
clientMobile/!default.perspectivev3
clientMobile/xcuserdata
clientMobile/*.xccheckout
clientMobile/*.moved-aside
clientMobile/DerivedData
clientMobile/*.hmap
clientMobile/*.ipa
clientMobile/*.xcuserstate

# Client Mobile 2
# OSX
#
clientMobile2/.DS_Store

# Xcode
#
clientMobile2/build/
clientMobile2/*.pbxuser
clientMobile2/!default.pbxuser
clientMobile2/*.mode1v3
clientMobile2/!default.mode1v3
clientMobile2/*.mode2v3
clientMobile2/!default.mode2v3
clientMobile2/*.perspectivev3
clientMobile2/!default.perspectivev3
clientMobile2/xcuserdata
clientMobile2/*.xccheckout
clientMobile2/*.moved-aside
clientMobile2/DerivedData
clientMobile2/*.hmap
clientMobile2/*.ipa
clientMobile2/*.xcuserstate

# Android/IntelliJ
#
clientMobile/build/
clientMobile/.idea
clientMobile/.gradle
clientMobile/local.properties
clientMobile/*.iml
clientMobile/*.hprof

# BUCK
clientMobile/buck-out/
clientMobile/\.buckd/
clientMobile/*.keystore
clientMobile/!debug.keystore

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

clientMobile/*/fastlane/report.xml
clientMobile/*/fastlane/Preview.html
clientMobile/*/fastlane/screenshots

# Bundle artifact
clientMobile/*.jsbundle

# CocoaPods
clientMobile//ios/Pods/



# Client
client/build

# Server
server/dist/