@import './fragments/config';
@import './fragments/utils';
@import './fragments/navbar';
@import './fragments/form';
@import './fragments/table';

@import './fragments/responsive/large';
@import './fragments/responsive/tablet';
@import './fragments/responsive/small';
@import './fragments/responsive/mobile';

// ACCOUNT
.account {
	display: flex;
}

.account-left {
	flex: 1;

	ul {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;

		li {
			padding: 1rem 2rem;
			border-bottom: 1px solid lightgray;
			width: 100%;

			&:hover {
				cursor: pointer;
				background: #f4f4f4;
			}
		}
	}
}

.account-right {
	flex: 6;
	// background: lightblue;
	padding: 1.5rem 3rem;

	.account-header {
		font-size: 1.8rem;
		margin-bottom: 2.3rem;
	}

	.add-contact {
		margin-top: 1rem;
	}
}

// TRENDS
.trends {
	.trend-graphs {
		display: flex;
		align-items: center;
		text-align: center;

		.graph-left {
			flex: 3.5;
			width: 100%;
		}
		.graph-right {
			flex: 1;
		}
	}
}

// SPLASH
.splash {
	background: url('https://images.pexels.com/photos/8422695/pexels-photo-8422695.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') no-repeat center center/cover;
	width: 100%;
	height: 100vh;

	.container {
		color: #fff;
		font-size: 2rem;

		.lead {
			font-size: 1.2rem;
		}

		.splash-btns {
			margin: 2rem 0;

			.btn {
				margin-right: 1rem;
				padding: 0.8rem 0;
				width: 200px;
				display: inline-block;
				text-align: center;
			}
		}
	}
}

// PRODUCT PAGE
.product-page {
	.container {
		display: flex;

		.product-page-left {
			.pp-left-top {
				flex: 1;

				.product-img {
					max-width: 80%;
					margin-bottom: 1rem;
				}
			}

			.pp-left-bottom {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				justify-content: center;
				text-align: center;

				i {
					color: $highlight-color;
					text-shadow: 2px 2px rgba(0, 0, 0, 0.1);

					&:hover {
						color: darken($highlight-color, 15%);
						cursor: pointer;
						transition: color 0.2s ease;
					}
				}
			}
		}

		.product-page-right {
			flex: 3.8;
			padding: 1.3rem 0 0 5rem;
			margin: auto;
			width: 100%;
		}
	}

	.product-buttons {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.btn {
		width: 250px;
	}
}
