.navbar {
	padding: 0.5rem 1.3rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.12);

	.navbar-search {
		position: relative;
		.form-control {
			padding: 0.4rem;
			width: 370px;
			font-size: 1rem;
			border-radius: $border-radius;
		}

		.search-submit {
			position: absolute;
			right: 0px;
			bottom: 0px;
			background: $secondary-color;
			border: none;
			padding: 0.47rem;
			border-top-right-radius: $border-radius;
			border-bottom-right-radius: $border-radius;
		}
	}

	.navbar-brand {
		a {
			color: #fff;
		}
	}
	.navbar-links {
		display: flex;

		li {
			margin: 1rem 0.3rem;
			a {
				padding: 1rem;
				border-radius: $border-radius;
				transition: background-color 0.1s ease-in-out;
				color: #fff;
				font-size: 0.85rem;

				&:hover {
					background: lighten($primary-color, 10%);
				}
			}
		}

		.current {
			color: $highlight-color;
		}
	}

	.dropdown-li {
		position: relative;

		.dropdown-ul {
			position: absolute;
			top: 40px;
			background: lighten($primary-color, 12%);
			text-align: center;

			li {
				border-radius: 0;
				padding: 0;
				margin: 0;

				a {
					display: block;
					margin: 0 !important;
					padding: 0.7rem 0;
					border-bottom: 1px solid #7e7e7e;
					border-radius: 0;
					&:hover {
						background: darken($highlight-color, 50%);
					}
				}
			}
		}
	}
}
